<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Livraria.Properties.Settings.BdAgendaConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=E:\Users\0064125\Documents\BdAgenda.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="Microsoft.Data.SqlClient" />
        <add name="Livraria.Properties.Settings.LivroConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=E:\Users\0064125\Documents\Livro.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="Microsoft.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>